.*.swp
ftp
updates
LSM.20*
.ackrc
.bash_logout
.bash_profile
.bashrc
.gitconfig
.lesshst
.lftp
.ssh
.terminfo
.vim
.viminfo
.vimrc
.zcompdump
.Zhistory
.zsh.d
.zsh_cache
.zshrc
.zshrc.zwc
bin/lsmcheck
tmp
vc
